* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #f3f7ff, #f8fafc, #eef2ff);
  color: #111827;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 92%;
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}
